{% extends "base.html" %} 

{% block content %}
    
    <h1>Hey! Welcome to the most awesome Signup page ever in the history of ever</h1>
    <form method="POST">
        <ol>
            <li>
                <label for="username">Username</label>
                
                    <input id="username" name="username" type="text" value="{{username}}">
                    <span class="error">{{username_error}}</span>
            </li>        
            
            <li>
                <label for="password">Password</label>
                
                    <input id="password" name="password" type="password">
                    <span class="error">{{password_error}}</span>
            </li>    
            
            <li>
                <label for="verify">Verify Password</label>
                
                    <input id="verify" name="verify" type="password">
                    <span class="error">{{verify_password_error}}</span>
            </li>    
            
            <li>
                <label for="email">Email (optional)</label>
                
                    <input id="email" name="email" type="text" value="{{email}}">
                    <span class="error">{{email_error}}</span>
            </li>   
        </ol>

        <input type="submit" />
    </form>
    

{% endblock %}